In [17]:
import pandas as pd
import numpy as np

In [2]:
# Load the Excel file into a DataFrame
file_name = "final_merge_tel_aviv_data.xlsx"
df = pd.read_excel(file_name)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271627 entries, 0 to 271626
Data columns (total 23 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Type             271607 non-null  object
 1   Area             271610 non-null  object
 2   City             271613 non-null  object
 3   Street           242021 non-null  object
 4   Address          248377 non-null  object
 5   Number of Rooms  260704 non-null  float64
 6   Size             268311 non-null  float64
 7   Personal Link    271627 non-null  object
 8   Date Post        271627 non-null  datetime64[ns]
 9   Price            255403 non-null  float64
 10  Phone Number     267364 non-null  object
 11  Floor            268654 non-null  object
 12  Property Tax     65725 non-null   float64
 13  House Committee  65629 non-null   float64
 14  Text             262451 non-null  object
 15  Name             267876 non-null  object
 16  מרפסת            269266 non-null  float64
 17  חניה             269266 non-null  float64
 18  מעלית            269266 non-null  float64
 19  מזגן             269266 non-null  float64
 20  מחסן             269266 non-null  float64
 21  משופצת           269266 non-null  float64
 22  מרפסת שמש        269266 non-null  float64
dtypes: datetime64[ns](1), float64(12), object(10)
memory usage: 47.7+ MB

In [18]:
# Check for duplicate rows
duplicate_rows = df[df.duplicated()]

if duplicate_rows.shape[0] == 0:
    print("No duplicate rows found.")
else:
    print("Duplicate rows found:")
    print(duplicate_rows)

No duplicate rows found.

In [19]:
# נניח שערכים לא ריאליים הם מחירים שהם 0 או גדולים מאוד, ושטחים שהם 0 או גדולים מאוד
# ננקה את הנתונים מערכים אלו
df_cleaned = df[(df['Price'] > 1000) & (df['Price'] < 50000)]  # מחיר סביר
df_cleaned = df[(df['Size'] > 10) & (df['Size'] < 500)]  # שטח סביר

In [20]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 262364 entries, 0 to 271626
Data columns (total 23 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Type             262360 non-null  object
 1   Area             262361 non-null  object
 2   City             262364 non-null  object
 3   Street           233920 non-null  object
 4   Address          239994 non-null  object
 5   Number of Rooms  255645 non-null  float64
 6   Size             262364 non-null  float64
 7   Personal Link    262364 non-null  object
 8   Date Post        262364 non-null  datetime64[ns]
 9   Price            249983 non-null  float64
 10  Phone Number     258800 non-null  object
 11  Floor            259629 non-null  object
 12  Property Tax     65386 non-null   float64
 13  House Committee  65349 non-null   float64
 14  Text             253864 non-null  object
 15  Name             258920 non-null  object
 16  מרפסת            260040 non-null  float64
 17  חניה             260040 non-null  float64
 18  מעלית            260040 non-null  float64
 19  מזגן             260040 non-null  float64
 20  מחסן             260040 non-null  float64
 21  משופצת           260040 non-null  float64
 22  מרפסת שמש        260040 non-null  float64
dtypes: datetime64[ns](1), float64(12), object(10)
memory usage: 48.0+ MB

In [21]:
data_filtered_cleaned = df_cleaned.dropna()

In [22]:
data_filtered_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40341 entries, 0 to 271626
Data columns (total 23 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Type             40341 non-null  object
 1   Area             40341 non-null  object
 2   City             40341 non-null  object
 3   Street           40341 non-null  object
 4   Address          40341 non-null  object
 5   Number of Rooms  40341 non-null  float64
 6   Size             40341 non-null  float64
 7   Personal Link    40341 non-null  object
 8   Date Post        40341 non-null  datetime64[ns]
 9   Price            40341 non-null  float64
 10  Phone Number     40341 non-null  object
 11  Floor            40341 non-null  object
 12  Property Tax     40341 non-null  float64
 13  House Committee  40341 non-null  float64
 14  Text             40341 non-null  object
 15  Name             40341 non-null  object
 16  מרפסת            40341 non-null  float64
 17  חניה             40341 non-null  float64
 18  מעלית            40341 non-null  float64
 19  מזגן             40341 non-null  float64
 20  מחסן             40341 non-null  float64
 21  משופצת           40341 non-null  float64
 22  מרפסת שמש        40341 non-null  float64
dtypes: datetime64[ns](1), float64(12), object(10)
memory usage: 7.4+ MB

In [23]:
# Task 1: Extract year from the Date column and add it to a new column called Year
data_filtered_cleaned['Year'] = data_filtered_cleaned['Date Post'].dt.year

# Task 2: Format the date in Month-Day format and add it to a new column called Month_Day_Date
data_filtered_cleaned['Month'] = data_filtered_cleaned['Date Post'].dt.strftime('%m')

<ipython-input-23-ee67794e2c2c>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_filtered_cleaned['Year'] = data_filtered_cleaned['Date Post'].dt.year
<ipython-input-23-ee67794e2c2c>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_filtered_cleaned['Month'] = data_filtered_cleaned['Date Post'].dt.strftime('%m')

In [24]:
# Reset the index of the sorted DataFrame
data_filtered_cleaned.reset_index(drop=True, inplace=True)

In [25]:
data_filtered_cleaned

,Type,Area,City,Street,Address,Number of Rooms,Size,Personal Link,Date Post,Price,...,Name,מרפסת,חניה,מעלית,מזגן,מחסן,משופצת,מרפסת שמש,Year,Month
0,דירה,תל אביב,תל אביב יפו,מעוז אביב א,בני אפרים 207,3.0,96.0,https://www.ad.co.il/ad/15114422,2023-02-01,9000.0,...,שולי,0.0,0.0,0.0,1.0,0.0,0.0,0.0,2023,02
1,דירה,תל אביב,תל אביב יפו,הצפון הישן החלק המרכזי,ארבע ארצות 9,2.0,65.0,https://www.ad.co.il/ad/15118590,2023-02-01,8250.0,...,מיכאל,1.0,0.0,1.0,1.0,0.0,1.0,1.0,2023,02
2,דירה,תל אביב,תל אביב יפו,יפו ד,שדרות ירושלים 211,3.0,60.0,https://www.ad.co.il/ad/15118380,2023-02-01,4300.0,...,ilana,0.0,1.0,0.0,1.0,0.0,0.0,0.0,2023,02
3,דירה,תל אביב,תל אביב יפו,התקווה,הרטוב 11,3.0,65.0,https://www.ad.co.il/ad/15118234,2023-02-01,4700.0,...,יובל,0.0,1.0,0.0,1.0,0.0,1.0,0.0,2023,02
4,דירה,תל אביב,תל אביב יפו,נוה שרת,"אח""י דקר 25",4.0,95.0,https://www.ad.co.il/ad/15118661,2023-02-01,6500.0,...,iness,0.0,0.0,1.0,1.0,0.0,1.0,0.0,2023,02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40336,דירה,תל אביב,תל אביב יפו,רמת אביב ג,אבא אחימאיר 5,4.0,80.0,https://www.ad.co.il/ad/11476078,2020-10-31,6500.0,...,מיטל,0.0,1.0,1.0,1.0,0.0,0.0,0.0,2020,10
40337,דירה,תל אביב,תל אביב יפו,רמת אביב ג,אברהם בויאר 14,5.0,120.0,https://www.ad.co.il/ad/11476741,2020-10-31,10500.0,...,יוסי,0.0,1.0,1.0,1.0,1.0,1.0,0.0,2020,10
40338,סטודיו/לופט,תל אביב,תל אביב יפו,מונטיפיורי,יוסף קארו 7,1.5,30.0,https://www.ad.co.il/ad/11473786,2020-10-31,3000.0,...,ירדן,0.0,1.0,1.0,1.0,0.0,1.0,0.0,2020,10
40339,דירה,תל אביב,תל אביב יפו,המשתלה,משה וילנסקי 45,5.0,110.0,https://www.ad.co.il/ad/11473907,2020-10-31,8500.0,...,אורי,1.0,1.0,1.0,1.0,1.0,0.0,1.0,2020,10
40340,דופלקס,תל אביב,תל אביב יפו,הצפון הישן החלק הדרום מערבי,דיזנגוף 145,3.0,76.0,https://www.ad.co.il/ad/11475918,2020-10-31,7500.0,...,kerenle,1.0,0.0,1.0,1.0,0.0,0.0,1.0,2020,10

In [28]:
data_filtered_cleaned.to_excel('clean_final_data.xlsx', index=False)